body {
    background: rgb(117, 202, 125); 
    
}
.centered {
    text-align: center !important;
    vertical-align: middle !important;
}
.centered_away{
    text-align: center;
    vertical-align: middle;
    margin-top: 1000px;
}